body {
    font-family: Arial;
    background: #f4f6f8;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.container {
    background: white;
    padding: 30px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.1);
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
}

button {
    width: 100%;
    padding: 10px;
    background: #2e7d32;
    color: white;
    border: none;
    cursor: pointer;
}